.map-container {
  width: 80vw;
  height: 80vh;
  margin: auto; /* Centrar horizontalmente */
  position: relative; /* Añade esta propiedad */
  margin-bottom: 3%;
}
  
  .sidebar {
    display: inline-block;
    position: relative;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
  }

  .locate-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
  }
  
  .footer-map {
    margin-top: 80vh; /* Ajusta el valor según sea necesario */
  }