/* Contenedor del mapa */
.map-container {
  width: 80vw;
  height: 80vh;
  margin: auto;
  margin-bottom: 3%;
}

/* Barra lateral */
.sidebar {
  display: block;
  position: relative;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  padding: 6px;
  font-weight: bold;
}

/* Botón de ubicación */
.locate-button {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}


.menu{
  position: relative;
  z-index: 2;
}
